<div class="page-header">
  <h3>Tbltenant #<%= @tbltenant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Tenant first</dt>
      <dd><%= @tbltenant.tenant_first %></dd>

      <dt>Tenant email</dt>
      <dd><%= @tbltenant.tenant_email %></dd>

      <dt>Tenant phone</dt>
      <dd><%= @tbltenant.tenant_phone %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tbltenants" class="btn btn-primary">
        Back
      </a>
      <a href="/tbltenants/<%= @tbltenant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tbltenant/<%= @tbltenant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Tbltenant has many tblleases -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tblleases
      </li>

      <% @tbltenant.tblleases.each do |tbllease| %>
        <li class="list-group-item">
          <a href="/tblleases/<%= tbllease.id %>">
            <%= tbllease.apartment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tblleases/<%= tbllease.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tblleases/<%= tbllease.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tbllease/<%= tbllease.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_tbllease" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for apartment_id -->
      <div class="form-group">
        <label for="apartment_id" class="control-label">
          Apartment
        </label>

        <%= select_tag(:apartment_id, options_from_collection_for_select(Tblapartment.all, :id, :building_id), :class => "form-control") %>
      </div>

      <!-- Label and input for lease_start -->
      <div class="form-group">
        <label for="lease_start" class="control-label">
          Lease start
        </label>

        <input type="text" id="lease_start" name="lease_start" placeholder="Lease start" class="form-control" value="">
      </div>

      <!-- Label and input for lease_end -->
      <div class="form-group">
        <label for="lease_end" class="control-label">
          Lease end
        </label>

        <input type="text" id="lease_end" name="lease_end" placeholder="Lease end" class="form-control" value="">
      </div>

      <!-- Label and input for daily_rate -->
      <div class="form-group">
        <label for="daily_rate" class="control-label">
          Daily rate
        </label>

        <input type="text" id="daily_rate" name="daily_rate" placeholder="Daily rate" class="form-control" value="">
      </div>

      <!-- Label and input for tenant_id -->
      <div class="form-group">
        <label for="tenant_id" class="control-label">
          Tenant
        </label>

        <%= select_tag(:tenant_id, options_from_collection_for_select(Tbltenant.all, :id, :tenant_first), :class => "form-control") %>
      </div>

      <!-- Label and input for tenant_last -->
      <div class="form-group">
        <label for="tenant_last" class="control-label">
          Tenant last
        </label>

        <input type="text" id="tenant_last" name="tenant_last" placeholder="Tenant last" class="form-control" value="">
      </div>

      <!-- Label and input for deposit -->
      <div class="form-group">
        <label for="deposit" class="control-label">
          Deposit
        </label>

        <input type="text" id="deposit" name="deposit" placeholder="Deposit" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Tbllease
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Tbltenant has many tblinvoices -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tblinvoices
      </li>

      <% @tbltenant.tblinvoices.each do |tblinvoice| %>
        <li class="list-group-item">
          <a href="/tblinvoices/<%= tblinvoice.id %>">
            <%= tblinvoice.invoice_prepared %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tblinvoices/<%= tblinvoice.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tblinvoices/<%= tblinvoice.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tblinvoice/<%= tblinvoice.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_tblinvoice" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for invoice_prepared -->
      <div class="form-group">
        <label for="invoice_prepared" class="control-label">
          Invoice prepared
        </label>

        <input type="text" id="invoice_prepared" name="invoice_prepared" placeholder="Invoice prepared" class="form-control" value="">
      </div>

      <!-- Label and input for invoice_total -->
      <div class="form-group">
        <label for="invoice_total" class="control-label">
          Invoice total
        </label>

        <input type="text" id="invoice_total" name="invoice_total" placeholder="Invoice total" class="form-control" value="">
      </div>

      <!-- Label and input for invoice_balance -->
      <div class="form-group">
        <label for="invoice_balance" class="control-label">
          Invoice balance
        </label>

        <input type="text" id="invoice_balance" name="invoice_balance" placeholder="Invoice balance" class="form-control" value="">
      </div>

      <!-- Label and input for tenant_id -->
      <div class="form-group">
        <label for="tenant_id" class="control-label">
          Tenant
        </label>

        <%= select_tag(:tenant_id, options_from_collection_for_select(Tbltenant.all, :id, :tenant_first), :class => "form-control") %>
      </div>

      <!-- Label and input for invoice_start -->
      <div class="form-group">
        <label for="invoice_start" class="control-label">
          Invoice start
        </label>

        <input type="text" id="invoice_start" name="invoice_start" placeholder="Invoice start" class="form-control" value="">
      </div>

      <!-- Label and input for invoice_end -->
      <div class="form-group">
        <label for="invoice_end" class="control-label">
          Invoice end
        </label>

        <input type="text" id="invoice_end" name="invoice_end" placeholder="Invoice end" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Tblinvoice
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
