<div class="page-header">
  <h3>Tbltenant #<%= @tbltenant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Tenant first</dt>
      <dd><%= @tbltenant.tenant_first %></dd>

      <dt>Tenant email</dt>
      <dd><%= @tbltenant.tenant_email %></dd>

      <dt>Tenant phone</dt>
      <dd><%= @tbltenant.tenant_phone %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tbltenants" class="btn btn-primary">
        Back
      </a>
      <a href="/tbltenants/<%= @tbltenant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tbltenant/<%= @tbltenant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Tbltenant has many tblleases -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tblleases
      </li>

      <% @tbltenant.tblleases.each do |tbllease| %>
        <li class="list-group-item">
          <a href="/tblleases/<%= tbllease.id %>">
            <%= tbllease.apartment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tblleases/<%= tbllease.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tblleases/<%= tbllease.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tbllease/<%= tbllease.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Tbltenant has many tblinvoices -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tblinvoices
      </li>

      <% @tbltenant.tblinvoices.each do |tblinvoice| %>
        <li class="list-group-item">
          <a href="/tblinvoices/<%= tblinvoice.id %>">
            <%= tblinvoice.invoice_prepared %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tblinvoices/<%= tblinvoice.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tblinvoices/<%= tblinvoice.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tblinvoice/<%= tblinvoice.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
