<div class="page-header">
  <h1>
    Tblpayments
    <a href="/tblpayments/new" class="btn btn-lg btn-success">New Tblpayment</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "tblpayments_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :tenant_id, "Tenant" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :tenant_id_gteq, :class => "form-control", :placeholder => "Tenant greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :tenant_id_lteq, :class => "form-control", :placeholder => "Tenant less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :payment_amount, "Payment amount" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :payment_amount_gteq, :class => "form-control", :placeholder => "Payment amount greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :payment_amount_lteq, :class => "form-control", :placeholder => "Payment amount less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :payment_date, "Payment date" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='payment_dategteqPicker'>
                  <%= f.text_field :payment_date_gteq, :class => "form-control", :placeholder => "Payment date greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='payment_datelteqPicker'>
                  <%= f.text_field :payment_date_lteq, :class => "form-control", :placeholder => "Payment date less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#payment_dategteqPicker').datetimepicker({
                  format: 'MM/DD/YYYY'
              });
              $('#payment_datelteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'MM/DD/YYYY'
              });
              $('#payment_dategteqPicker').on("dp.change", function (e) {
                  $('#payment_datelteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#payment_datelteqPicker').on("dp.change", function (e) {
                  $('#payment_dategteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
          <%= f.label :invoice_prepared, "Tblinvoice Invoice prepared" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='invoicegteqinvoice_preparedPicker'>
                  <%= f.text_field :invoice_invoice_prepared_gteq, :class => "form-control", :placeholder => "Tblinvoice Invoice prepared greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='invoicelteqinvoice_preparedPicker'>
                  <%= f.text_field :invoice_invoice_prepared_lteq, :class => "form-control", :placeholder => "Tblinvoice Invoice prepared less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#invoicegteqinvoice_preparedPicker').datetimepicker({
                  format: 'MM/DD/YYYY'
              });
              $('#invoicelteqinvoice_preparedPicker').datetimepicker({
                  useCurrent: false,
                  format: 'MM/DD/YYYY'
              });
              $('#invoicegteqinvoice_preparedPicker').on("dp.change", function (e) {
                  $('#invoicelteqinvoice_preparedPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#invoicelteqinvoice_preparedPicker').on("dp.change", function (e) {
                  $('#invoicegteqinvoice_preparedPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
      <%= f.label :paymentmethod_method_cont, "Tblpaymentmethod method contains" %>
      <%= f.text_field :paymentmethod_method_cont, :class => "form-control", :placeholder => "Tblpaymentmethod method contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/tblpayments" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#tblpayments_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Invoice</th>
        <th>Payment date</th>
        <th>Payment amount</th>
        <th>Paymentmethod</th>
        <th>Tenant</th>
        <th>Actions</th>
      </tr>

      <% @tblpayments.each do |tblpayment| %>
      <tr>
        <td>
          <% if tblpayment.invoice.present? %>
            <a href="/tblinvoices/<%= tblpayment.invoice.id %>">
              <%= tblpayment.invoice.invoice_prepared %>
            </a>
          <% end %>
        </td>
        <td><%= tblpayment.payment_date %></td>
        <td><%= tblpayment.payment_amount %></td>
        <td>
          <% if tblpayment.paymentmethod.present? %>
            <a href="/tblpaymentmethods/<%= tblpayment.paymentmethod.id %>">
              <%= tblpayment.paymentmethod.method %>
            </a>
          <% end %>
        </td>
        <td><%= tblpayment.tenant_id %></td>
        <td>
          <a href="/tblpayments/<%= tblpayment.id %>" class="btn btn-primary">Show</a>
          <a href="/tblpayments/<%= tblpayment.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_tblpayment/<%= tblpayment.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @tblpayments, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
