<!-- Validation failure messages -->
<% if @tblpayment.errors.any? %>
  <% @tblpayment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Tblpayment</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_tblpayment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for invoice_id -->
      <div class="form-group">
        <label for="invoice_id" class="control-label">
          Invoice
        </label>

        <%= select_tag(:invoice_id, options_from_collection_for_select(Tblinvoice.all, :id, :invoice_prepared, @tblpayment.invoice_id), :class => "form-control") %>
      </div>

      <!-- Label and input for payment_date -->
      <div class="form-group">
        <label for="payment_date" class="control-label">
          Payment date
        </label>

        <input type="text" id="payment_date" name="payment_date" placeholder="Payment date" class="form-control" value="<%= @tblpayment.payment_date %>">
      </div>

      <!-- Label and input for payment_amount -->
      <div class="form-group">
        <label for="payment_amount" class="control-label">
          Payment amount
        </label>

        <input type="text" id="payment_amount" name="payment_amount" placeholder="Payment amount" class="form-control" value="<%= @tblpayment.payment_amount %>">
      </div>

      <!-- Label and input for paymentmethod_id -->
      <div class="form-group">
        <label for="paymentmethod_id" class="control-label">
          Paymentmethod
        </label>

        <input type="text" id="paymentmethod_id" name="paymentmethod_id" placeholder="Paymentmethod" class="form-control" value="<%= @tblpayment.paymentmethod_id %>">
      </div>

      <!-- Label and input for tenant_id -->
      <div class="form-group">
        <label for="tenant_id" class="control-label">
          Tenant
        </label>

        <input type="text" id="tenant_id" name="tenant_id" placeholder="Tenant" class="form-control" value="<%= @tblpayment.tenant_id %>">
      </div>

      <button class="btn btn-success">
        Create Tblpayment
      </button>
      or
      <a href="/tblpayments">Cancel</a>
    </form>
  </div>
</div>
