<div class="page-header">
  <h3>Tblpayment #<%= @tblpayment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Invoice</dt>
      <dd>
        <% if @tblpayment.invoice.present? %>
          <a href="/tblinvoices/<%= @tblpayment.invoice_id %>">
            <%= @tblpayment.invoice.invoice_prepared %>
          </a>
        <% end %>
      </dd>

      <dt>Payment date</dt>
      <dd><%= @tblpayment.payment_date %></dd>

      <dt>Payment amount</dt>
      <dd><%= @tblpayment.payment_amount %></dd>

      <dt>Paymentmethod</dt>
      <dd>
        <% if @tblpayment.paymentmethod.present? %>
          <a href="/tblpaymentmethods/<%= @tblpayment.paymentmethod_id %>">
            <%= @tblpayment.paymentmethod.method %>
          </a>
        <% end %>
      </dd>

      <dt>Tenant</dt>
      <dd><%= @tblpayment.tenant_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tblpayments" class="btn btn-primary">
        Back
      </a>
      <a href="/tblpayments/<%= @tblpayment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tblpayment/<%= @tblpayment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
