<div class="page-header">
  <h1>
    Tblinvoices
    <a href="/tblinvoices/new" class="btn btn-lg btn-success">New Tblinvoice</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "tblinvoices_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
          <%= f.label :invoice_prepared, "Invoice prepared" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='invoice_preparedgteqPicker'>
                  <%= f.text_field :invoice_prepared_gteq, :class => "form-control", :placeholder => "Invoice prepared greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='invoice_preparedlteqPicker'>
                  <%= f.text_field :invoice_prepared_lteq, :class => "form-control", :placeholder => "Invoice prepared less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#invoice_preparedgteqPicker').datetimepicker({
                  format: 'MM/DD/YYYY'
              });
              $('#invoice_preparedlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'MM/DD/YYYY'
              });
              $('#invoice_preparedgteqPicker').on("dp.change", function (e) {
                  $('#invoice_preparedlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#invoice_preparedlteqPicker').on("dp.change", function (e) {
                  $('#invoice_preparedgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
          <%= f.label :invoice_end, "Invoice end" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='invoice_endgteqPicker'>
                  <%= f.text_field :invoice_end_gteq, :class => "form-control", :placeholder => "Invoice end greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='invoice_endlteqPicker'>
                  <%= f.text_field :invoice_end_lteq, :class => "form-control", :placeholder => "Invoice end less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#invoice_endgteqPicker').datetimepicker({
                  format: 'MM/DD/YYYY'
              });
              $('#invoice_endlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'MM/DD/YYYY'
              });
              $('#invoice_endgteqPicker').on("dp.change", function (e) {
                  $('#invoice_endlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#invoice_endlteqPicker').on("dp.change", function (e) {
                  $('#invoice_endgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
          <%= f.label :invoice_start, "Invoice start" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='invoice_startgteqPicker'>
                  <%= f.text_field :invoice_start_gteq, :class => "form-control", :placeholder => "Invoice start greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='invoice_startlteqPicker'>
                  <%= f.text_field :invoice_start_lteq, :class => "form-control", :placeholder => "Invoice start less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#invoice_startgteqPicker').datetimepicker({
                  format: 'MM/DD/YYYY'
              });
              $('#invoice_startlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'MM/DD/YYYY'
              });
              $('#invoice_startgteqPicker').on("dp.change", function (e) {
                  $('#invoice_startlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#invoice_startlteqPicker').on("dp.change", function (e) {
                  $('#invoice_startgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
  <%= f.label :invoice_balance, "Invoice balance" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :invoice_balance_gteq, :class => "form-control", :placeholder => "Invoice balance greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :invoice_balance_lteq, :class => "form-control", :placeholder => "Invoice balance less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :invoice_total, "Invoice total" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :invoice_total_gteq, :class => "form-control", :placeholder => "Invoice total greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :invoice_total_lteq, :class => "form-control", :placeholder => "Invoice total less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :tenant_tenant_first_cont, "Tbltenant tenant_first contains" %>
      <%= f.text_field :tenant_tenant_first_cont, :class => "form-control", :placeholder => "Tbltenant tenant_first contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/tblinvoices" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#tblinvoices_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Invoice prepared</th>
        <th>Invoice total</th>
        <th>Invoice balance</th>
        <th>Tenant</th>
        <th>Invoice start</th>
        <th>Invoice end</th>
        <th>Actions</th>
      </tr>

      <% @tblinvoices.each do |tblinvoice| %>
      <tr>
        <td><%= tblinvoice.invoice_prepared %></td>
        <td><%= tblinvoice.invoice_total %></td>
        <td><%= tblinvoice.invoice_balance %></td>
        <td>
          <% if tblinvoice.tenant.present? %>
            <a href="/tbltenants/<%= tblinvoice.tenant.id %>">
              <%= tblinvoice.tenant.tenant_first %>
            </a>
          <% end %>
        </td>
        <td><%= tblinvoice.invoice_start %></td>
        <td><%= tblinvoice.invoice_end %></td>
        <td>
          <a href="/tblinvoices/<%= tblinvoice.id %>" class="btn btn-primary">Show</a>
          <a href="/tblinvoices/<%= tblinvoice.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_tblinvoice/<%= tblinvoice.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @tblinvoices, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
