<div class="page-header">
  <h1>
    Tblinvoices
    <a href="/tblinvoices/new" class="btn btn-lg btn-success">New Tblinvoice</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Invoice prepared</th>
        <th>Invoice total</th>
        <th>Invoice balance</th>
        <th>Tenant</th>
        <th>Invoice start</th>
        <th>Invoice end</th>
        <th>Actions</th>
      </tr>

      <% @tblinvoices.each do |tblinvoice| %>
      <tr>
        <td><%= tblinvoice.invoice_prepared %></td>
        <td><%= tblinvoice.invoice_total %></td>
        <td><%= tblinvoice.invoice_balance %></td>
        <td>
          <% if tblinvoice.tenant.present? %>
            <a href="/tbltenants/<%= tblinvoice.tenant.id %>">
              <%= tblinvoice.tenant.tenant_first %>
            </a>
          <% end %>
        </td>
        <td><%= tblinvoice.invoice_start %></td>
        <td><%= tblinvoice.invoice_end %></td>
        <td>
          <a href="/tblinvoices/<%= tblinvoice.id %>" class="btn btn-primary">Show</a>
          <a href="/tblinvoices/<%= tblinvoice.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_tblinvoice/<%= tblinvoice.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @tblinvoices, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
