<div class="page-header">
  <h3>Tblinvoice #<%= @tblinvoice.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Invoice prepared</dt>
      <dd><%= @tblinvoice.invoice_prepared %></dd>

      <dt>Invoice total</dt>
      <dd><%= @tblinvoice.invoice_total %></dd>

      <dt>Invoice balance</dt>
      <dd><%= @tblinvoice.invoice_balance %></dd>

      <dt>Tenant</dt>
      <dd><%= @tblinvoice.tenant_id %></dd>

      <dt>Invoice start</dt>
      <dd><%= @tblinvoice.invoice_start %></dd>

      <dt>Invoice end</dt>
      <dd><%= @tblinvoice.invoice_end %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tblinvoices" class="btn btn-primary">
        Back
      </a>
      <a href="/tblinvoices/<%= @tblinvoice.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tblinvoice/<%= @tblinvoice.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Tblinvoice has many tblpayments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tblpayments
      </li>

      <% @tblinvoice.tblpayments.each do |tblpayment| %>
        <li class="list-group-item">
          <a href="/tblpayments/<%= tblpayment.id %>">
            <%= tblpayment.invoice_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tblpayments/<%= tblpayment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tblpayments/<%= tblpayment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tblpayment/<%= tblpayment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
