<div class="page-header">
  <h3>Tblinvoice #<%= @tblinvoice.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Invoice prepared</dt>
      <dd><%= @tblinvoice.invoice_prepared %></dd>

      <dt>Invoice total</dt>
      <dd><%= @tblinvoice.invoice_total %></dd>

      <dt>Invoice balance</dt>
      <dd><%= @tblinvoice.invoice_balance %></dd>

      <dt>Tenant</dt>
      <dd>
        <% if @tblinvoice.tenant.present? %>
          <a href="/tbltenants/<%= @tblinvoice.tenant_id %>">
            <%= @tblinvoice.tenant.tenant_first %>
          </a>
        <% end %>
      </dd>

      <dt>Invoice start</dt>
      <dd><%= @tblinvoice.invoice_start %></dd>

      <dt>Invoice end</dt>
      <dd><%= @tblinvoice.invoice_end %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tblinvoices" class="btn btn-primary">
        Back
      </a>
      <a href="/tblinvoices/<%= @tblinvoice.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tblinvoice/<%= @tblinvoice.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Tblinvoice has many tblpayments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tblpayments
      </li>

      <% @tblinvoice.tblpayments.each do |tblpayment| %>
        <li class="list-group-item">
          <a href="/tblpayments/<%= tblpayment.id %>">
            <%= tblpayment.invoice_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tblpayments/<%= tblpayment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tblpayments/<%= tblpayment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tblpayment/<%= tblpayment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_tblpayment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for invoice_id -->
      <div class="form-group">
        <label for="invoice_id" class="control-label">
          Invoice
        </label>

        <%= select_tag(:invoice_id, options_from_collection_for_select(Tblinvoice.all, :id, :invoice_prepared), :class => "form-control") %>
      </div>

      <!-- Label and input for payment_date -->
      <div class="form-group">
        <label for="payment_date" class="control-label">
          Payment date
        </label>

        <input type="text" id="payment_date" name="payment_date" placeholder="Payment date" class="form-control" value="">
      </div>

      <!-- Label and input for payment_amount -->
      <div class="form-group">
        <label for="payment_amount" class="control-label">
          Payment amount
        </label>

        <input type="text" id="payment_amount" name="payment_amount" placeholder="Payment amount" class="form-control" value="">
      </div>

      <!-- Label and input for paymentmethod_id -->
      <div class="form-group">
        <label for="paymentmethod_id" class="control-label">
          Paymentmethod
        </label>

        <%= select_tag(:paymentmethod_id, options_from_collection_for_select(Tblpaymentmethod.all, :id, :method), :class => "form-control") %>
      </div>

      <!-- Label and input for tenant_id -->
      <div class="form-group">
        <label for="tenant_id" class="control-label">
          Tenant
        </label>

        <input type="text" id="tenant_id" name="tenant_id" placeholder="Tenant" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Tblpayment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
