<div class="page-header">
  <h3>Tblbuilding #<%= @tblbuilding.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Buildingname</dt>
      <dd><%= @tblbuilding.buildingname %></dd>

      <dt>Buildingaddress</dt>
      <dd><%= @tblbuilding.buildingaddress %></dd>

      <dt>Buildingowner</dt>
      <dd><%= @tblbuilding.buildingowner %></dd>

      <dt>Buildingzip</dt>
      <dd><%= @tblbuilding.buildingzip %></dd>

      <dt>Buildingcity</dt>
      <dd><%= @tblbuilding.buildingcity %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tblbuildings" class="btn btn-primary">
        Back
      </a>
      <a href="/tblbuildings/<%= @tblbuilding.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tblbuilding/<%= @tblbuilding.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Tblbuilding has many tblapartments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tblapartments
      </li>

      <% @tblbuilding.tblapartments.each do |tblapartment| %>
        <li class="list-group-item">
          <a href="/tblapartments/<%= tblapartment.id %>">
            <%= tblapartment.building_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tblapartments/<%= tblapartment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tblapartments/<%= tblapartment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tblapartment/<%= tblapartment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_tblapartment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for building_id -->
      <div class="form-group">
        <label for="building_id" class="control-label">
          Building
        </label>

        <%= select_tag(:building_id, options_from_collection_for_select(Tblbuilding.all, :id, :buildingname), :class => "form-control") %>
      </div>

      <!-- Label and input for apartmentnumber -->
      <div class="form-group">
        <label for="apartmentnumber" class="control-label">
          Apartmentnumber
        </label>

        <input type="text" id="apartmentnumber" name="apartmentnumber" placeholder="Apartmentnumber" class="form-control" value="">
      </div>

      <!-- Label and input for bedrooms -->
      <div class="form-group">
        <label for="bedrooms" class="control-label">
          Bedrooms
        </label>

        <input type="text" id="bedrooms" name="bedrooms" placeholder="Bedrooms" class="form-control" value="">
      </div>

      <!-- Label and input for bathrooms -->
      <div class="form-group">
        <label for="bathrooms" class="control-label">
          Bathrooms
        </label>

        <input type="text" id="bathrooms" name="bathrooms" placeholder="Bathrooms" class="form-control" value="">
      </div>

      <!-- Label and input for monthlycost -->
      <div class="form-group">
        <label for="monthlycost" class="control-label">
          Monthlycost
        </label>

        <input type="text" id="monthlycost" name="monthlycost" placeholder="Monthlycost" class="form-control" value="">
      </div>

      <!-- Label and input for standard_rate -->
      <div class="form-group">
        <label for="standard_rate" class="control-label">
          Standard rate
        </label>

        <input type="text" id="standard_rate" name="standard_rate" placeholder="Standard rate" class="form-control" value="">
      </div>

      <!-- Label and input for isactive -->
      <div class="checkbox">
        <label for="isactive">
          <input type="checkbox" id="isactive" name="isactive" value="1" <%= "checked" if @tblapartment.isactive %>>
          Isactive
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Tblapartment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
