<div class="page-header">
  <h1>
    Tblapartments
    <a href="/tblapartments/new" class="btn btn-lg btn-success">New Tblapartment</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "tblapartments_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :isactive_eq, "Isactive" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :isactive_eq, "1", checked: ((params[:q] && params[:q][:isactive_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :isactive_eq, "0", checked: ((params[:q] && params[:q][:isactive_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :isactive_eq, ""%> Either
      </label>
    </div>
  </div>

<div class="form-group">
    <%= f.label :standard_rate_cont, "Standard rate contains" %>
    <%= f.text_field :standard_rate_cont, :class => "form-control", :placeholder => "Standard rate contains" %>
  </div>

<div class="form-group">
  <%= f.label :monthlycost, "Monthlycost" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :monthlycost_gteq, :class => "form-control", :placeholder => "Monthlycost greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :monthlycost_lteq, :class => "form-control", :placeholder => "Monthlycost less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :bathrooms, "Bathrooms" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :bathrooms_gteq, :class => "form-control", :placeholder => "Bathrooms greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :bathrooms_lteq, :class => "form-control", :placeholder => "Bathrooms less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :bedrooms, "Bedrooms" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :bedrooms_gteq, :class => "form-control", :placeholder => "Bedrooms greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :bedrooms_lteq, :class => "form-control", :placeholder => "Bedrooms less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :apartmentnumber_cont, "Apartmentnumber contains" %>
    <%= f.text_field :apartmentnumber_cont, :class => "form-control", :placeholder => "Apartmentnumber contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :building_buildingname_cont, "Tblbuilding buildingname contains" %>
      <%= f.text_field :building_buildingname_cont, :class => "form-control", :placeholder => "Tblbuilding buildingname contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/tblapartments" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#tblapartments_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Building</th>
        <th>Apartmentnumber</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Monthlycost</th>
        <th>Standard rate</th>
        <th>Isactive</th>
        <th>Actions</th>
      </tr>

      <% @tblapartments.each do |tblapartment| %>
      <tr>
        <td>
          <% if tblapartment.building.present? %>
            <a href="/tblbuildings/<%= tblapartment.building.id %>">
              <%= tblapartment.building.buildingname %>
            </a>
          <% end %>
        </td>
        <td><%= tblapartment.apartmentnumber %></td>
        <td><%= tblapartment.bedrooms %></td>
        <td><%= tblapartment.bathrooms %></td>
        <td><%= tblapartment.monthlycost %></td>
        <td><%= tblapartment.standard_rate %></td>
        <td><%= tblapartment.isactive %></td>
        <td>
          <a href="/tblapartments/<%= tblapartment.id %>" class="btn btn-primary">Show</a>
          <a href="/tblapartments/<%= tblapartment.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_tblapartment/<%= tblapartment.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @tblapartments, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
