<div class="page-header">
  <h3>Tblapartment #<%= @tblapartment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Building</dt>
      <dd><%= @tblapartment.building_id %></dd>

      <dt>Apartmentnumber</dt>
      <dd><%= @tblapartment.apartmentnumber %></dd>

      <dt>Bedrooms</dt>
      <dd><%= @tblapartment.bedrooms %></dd>

      <dt>Bathrooms</dt>
      <dd><%= @tblapartment.bathrooms %></dd>

      <dt>Monthlycost</dt>
      <dd><%= @tblapartment.monthlycost %></dd>

      <dt>Standard rate</dt>
      <dd><%= @tblapartment.standard_rate %></dd>

      <dt>Isactive</dt>
      <dd><%= @tblapartment.isactive %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tblapartments" class="btn btn-primary">
        Back
      </a>
      <a href="/tblapartments/<%= @tblapartment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tblapartment/<%= @tblapartment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Tblapartment has many tblleases -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tblleases
      </li>

      <% @tblapartment.tblleases.each do |tbllease| %>
        <li class="list-group-item">
          <a href="/tblleases/<%= tbllease.id %>">
            <%= tbllease.apartment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tblleases/<%= tbllease.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tblleases/<%= tbllease.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tbllease/<%= tbllease.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
