<div class="page-header">
  <h3>Tblapartment #<%= @tblapartment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Building</dt>
      <dd><%= @tblapartment.building_id %></dd>

      <dt>Apartmentnumber</dt>
      <dd><%= @tblapartment.apartmentnumber %></dd>

      <dt>Bedrooms</dt>
      <dd><%= @tblapartment.bedrooms %></dd>

      <dt>Bathrooms</dt>
      <dd><%= @tblapartment.bathrooms %></dd>

      <dt>Monthlycost</dt>
      <dd><%= @tblapartment.monthlycost %></dd>

      <dt>Standard rate</dt>
      <dd><%= @tblapartment.standard_rate %></dd>

      <dt>Isactive</dt>
      <dd><%= @tblapartment.isactive %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tblapartments" class="btn btn-primary">
        Back
      </a>
      <a href="/tblapartments/<%= @tblapartment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tblapartment/<%= @tblapartment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Tblapartment has many tblleases -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tblleases
      </li>

      <% @tblapartment.tblleases.each do |tbllease| %>
        <li class="list-group-item">
          <a href="/tblleases/<%= tbllease.id %>">
            <%= tbllease.apartment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tblleases/<%= tbllease.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tblleases/<%= tbllease.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tbllease/<%= tbllease.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_tbllease" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for apartment_id -->
      <div class="form-group">
        <label for="apartment_id" class="control-label">
          Apartment
        </label>

        <%= select_tag(:apartment_id, options_from_collection_for_select(Tblapartment.all, :id, :building_id), :class => "form-control") %>
      </div>

      <!-- Label and input for lease_start -->
      <div class="form-group">
        <label for="lease_start" class="control-label">
          Lease start
        </label>

        <input type="text" id="lease_start" name="lease_start" placeholder="Lease start" class="form-control" value="">
      </div>

      <!-- Label and input for lease_end -->
      <div class="form-group">
        <label for="lease_end" class="control-label">
          Lease end
        </label>

        <input type="text" id="lease_end" name="lease_end" placeholder="Lease end" class="form-control" value="">
      </div>

      <!-- Label and input for daily_rate -->
      <div class="form-group">
        <label for="daily_rate" class="control-label">
          Daily rate
        </label>

        <input type="text" id="daily_rate" name="daily_rate" placeholder="Daily rate" class="form-control" value="">
      </div>

      <!-- Label and input for tenant_id -->
      <div class="form-group">
        <label for="tenant_id" class="control-label">
          Tenant
        </label>

        <%= select_tag(:tenant_id, options_from_collection_for_select(Tbltenant.all, :id, :tenant_first), :class => "form-control") %>
      </div>

      <!-- Label and input for tenant_last -->
      <div class="form-group">
        <label for="tenant_last" class="control-label">
          Tenant last
        </label>

        <input type="text" id="tenant_last" name="tenant_last" placeholder="Tenant last" class="form-control" value="">
      </div>

      <!-- Label and input for deposit -->
      <div class="form-group">
        <label for="deposit" class="control-label">
          Deposit
        </label>

        <input type="text" id="deposit" name="deposit" placeholder="Deposit" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Tbllease
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
